---
// filepath: src/components/ServiceList.astro
interface Service {
  img: string;
  alt: string;
  title: string;
  description: string;
}

interface Feature {
  icon: string;
  title: string;
  description: string;
}

const { services = [], features = [], sectionTitle, sectionSubtitle, showFeatures = false } = Astro.props as {
  services?: Service[];
  features?: Feature[];
  sectionTitle?: string;
  sectionSubtitle?: string;
  showFeatures?: boolean;
};
---

<!-- Servicios Inicio -->
<div class="container-fluid service">
  <div class="container py-5">
    {sectionTitle && (
      <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
        <div class="sub-style">
          <h4 class="sub-title px-3 mb-0">{sectionTitle}</h4>
        </div>
        {sectionSubtitle && <h1 class="display-3 mb-4">{sectionSubtitle}</h1>}
      </div>
    )}
    <div class="row g-4 justify-content-center">
      {services.map(service => (
        <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item rounded ">
            <div class="service-img rounded-top">
              <img src={service.img} class="img-fluid rounded-top w-100" alt={service.alt} />
            </div>
            <div class="service-content rounded-bottom bg-light p-4">
              <div class="service-content-inner">
                <h5 class="mb-4">{service.title}</h5>
                <p class="mb-4">{service.description}</p>
              </div>
            </div>
          </div>
        </div>
      ))}
    </div>
    {showFeatures && (
      <div class="container-fluid feature py-5">
        <div class="container py-5">
          <div class="row g-4 justify-content-center">
            {features.map(feature => (
              <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row-cols-1 feature-item p-4">
                  <div class="col-12">
                    <div class="feature-icon mb-4">
                      <div class="p-3 d-inline-flex bg-white rounded">
                        <i class={feature.icon + " fa-4x text-primary"}></i>
                      </div>
                    </div>
                    <div class="feature-content d-flex flex-column">
                      <h5 class="mb-4">{feature.title}</h5>
                      <p class="mb-0">{feature.description}</p>
                    </div>
                  </div>
                </div>
              </div>
            ))}
          </div>
        </div>
      </div>
    )}
  </div>
</div>
<!-- Servicios Fin -->
